/*---------- Google Fonts---------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/*---------- Common Styles---------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/*---------- Header Styles---------- */
header {
    background-color: #264653;
    padding-bottom: 100px;
}

/* Navigation Bar Styles */
.nav-menu a {
    text-decoration: none;
    color: white;
}

.nav-menu a:hover {
    color: white;
}

.nav-btn {
    color: white;
    background-color: #E76F51;
    border: none;
    width: fit-content;
    padding: 10px 24px;
    border-radius: 5px;
}

/* Hero Section Styles */
.hero-container {
    margin-top: 70px;
}

.hero-details {
    margin-right: 90px;
}

.top-title {
    color: white;
    font-size: 14px;
}

.hero-details>h1 {
    color: white;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 18px;
}

.bottom-title {
    font-size: 16px;
    color: #E0E0E0;
}

.purchase-btn {
    color: white;
    background-color: #E76F51;
    border: none;
    width: fit-content;
    padding: 10px 40px;
    border-radius: 5px;
}

.modal-heading h5 {
    color: tomato;
    font-weight: 700;
}

.modal-text h2 {
    color: #E76F51;
    font-weight: 500;

}


/*---------- Main Styles---------- */

/* Feature Bikes Section Styles */
.feature-container {
    margin-top: 65px;
}

.feature-title {
    margin-bottom: 120px;
}

.feature-title>h1 {
    font-size: 48px;
    font-weight: 700;
}

.feature-title>h5 {
    color: #E76F51;
    font-size: 14px;
    font-weight: 700;
}


.feature-image img {
    max-width: 288px;
}

#gray-image {
    filter: grayscale(100%);
}

/* Latest News Section Styles */
.news-container {
    margin-top: 165px;
    margin-bottom: 165px;
}

.news-container>h1 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 48px;
    font-weight: 700;
}

.news-title {
    font-size: 28px;
    font-weight: 700;
}

.news-text {
    color: #6C6C6C;
    font-size: 16px;
}

.read-more-btn a {
    text-decoration: none;
    color: #E76F51;
}

.read-more-btn {
    background-color: white;
    border: 1px solid #E76F51;
    width: fit-content;
    padding: 10px 40px;
    border-radius: 5px;
}

.read-more-btn:hover {
    background-color: #E76F51;
}

.read-more-btn:hover a {
    color: white;
}


/* Clients Section Styles */
.clients-container {
    text-align: center;
}

.clients-container>h1 {
    font-size: 48px;
    font-weight: 700;
    color: #0A0826;
    margin-bottom: 55px;
}

.clients-container>h1>span {
    font-size: 48px;
    font-weight: 700;
    color: #E76F51;
}

.client-img-container {
    display: flex;
    justify-content: center;
}

.client-image {
    width: 149px;
}

.client-icon i {
    color: #E77C40;
}

.client-name {
    font-size: 14px;
    font-weight: 700;
    color: #23A6F0;
}

.client-profession {
    font-size: 14px;
    font-weight: 700;
    color: #252B42;
}


/* FAQ Section Styles */
.faq-container {
    margin-top: 160px;
    margin-bottom: 30px;
    text-align: center;
}

.faq-image {
    max-width: 430px;
}

.faq-container>h1 {
    font-size: 48px;
    font-weight: 700;
    color: #0A0826;
    margin-bottom: 55px;
}

.faq-container>h1>span {
    font-size: 48px;
    font-weight: 700;
    color: #E76F51;
}

.faq-text {
    color: #6C6C6C;
}


/* Confusion Section Styles */

.confusion-image {
    width: 120px;
}

.confusion-text h1 {
    font-size: 24px;
    font-weight: 600;
}

.confusion-text {
    width: fit-content;
}

/* Brands Styles */
.brands-heading>h1 {
    text-align: center;
    color: #0A0826;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 55px;
    margin-top: 130px;
}

.brands-heading>h1>span {
    color: #E76F51;
}

.brandas-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;
}

.brand-image {
    width: 100px;
}




/* ----------Media Query---------- */

/* Media query for extra small device */
@media only screen and (max-width:575px) {

    /*---------- Common Styles---------- */
    * {
        width: 100%;
    }

    /*---------- Header Styles---------- */

    /* Hero Section Styles */
    .hero-container {
        margin: 0;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .hero-details {
        margin: 0;
        margin-top: 46px;
        margin-bottom: 56px;
    }

    /*---------- Main Styles---------- */

    /* Feature Bikes Section Styles */
    .feature-container {
        margin: 0;
        text-align: center;
    }

    .feature-image {
        margin: 0;
        flex-direction: column;
        align-items: center;
        margin-bottom: 75px;
    }

    .feature-image img {
        margin-bottom: 115px;
    }

    /* Confusion Section Styles */
    .confusions {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .confusion-form {
        flex-direction: column;
        align-items: center;
    }

    .confusion-input {
        margin-bottom: 10px;
    }

    /* Brands Styles */
    .brandas-container a {
        width: fit-content;
        margin: auto;
    }

    .brandas-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
        grid-gap: 20px;
    }
}

/* Media query for small device */
@media only screen and (min-width:576px) and (max-width:767px) {

    /* Common Styles */
    * {
        width: 100%;
    }


    /*---------- Main Styles---------- */

    /* Feature Bikes Section Styles */
    .feature-image img {
        max-width: 200px;
    }

    /* Brands Styles */
    .brandas-container a {
        width: fit-content;
        margin: auto;
    }

    .brandas-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: center;
        align-items: center;
        grid-gap: 20px;
    }
}


/* Media query for medium device */
@media only screen and (min-width:768px) and (max-width:991px) {

    /* Common Styles */
    * {
        width: 100%;
    }

    /*---------- Main Styles---------- */

    /* Feature Bikes Section Styles */
    .feature-image img {
        max-width: 200px;
    }

    /* Brands Styles */
    .brandas-container a {
        width: fit-content;
        margin: auto;
    }

    .brandas-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: center;
        align-items: center;
        grid-gap: 20px;
    }
}

/* Media query for large device */
@media only screen and (min-width:992px) and (max-width:1199px) {

    /* Common Styles */
    * {
        width: 100%;
    }
}

/* Media query for extra large device */
@media only screen and (min-width:1200px) and (max-width:1399px) {

    /* Common Styles */
    * {
        width: 100%;
    }
}

/* Media query for extra extra large device */
@media only screen and (min-width:1400px) {

    /* Common Styles */
    * {
        width: 100%;
    }
}