/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Common Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Header Styles */
header {
    background-color: #264653;
    padding-bottom: 100px;
}

/* Navigation Bar Styles */
.nav-menu a {
    text-decoration: none;
    color: white;
}

.nav-menu a:hover {
    color: white;
}

.nav-btn {
    color: white;
    background-color: #E76F51;
    border: none;
    width: fit-content;
    padding: 10px 24px;
    border-radius: 5px;
}

/* Hero Section Styles */
.hero-container {
    margin-top: 70px;
}

.hero-details {
    margin-right: 90px;
}

.top-title {
    color: white;
    font-size: 14px;
}

.hero-details>h1 {
    color: white;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 18px;
}

.bottom-title {
    font-size: 16px;
    color: #E0E0E0;
}

.purchase-btn {
    color: white;
    background-color: #E76F51;
    border: none;
    width: fit-content;
    padding: 10px 40px;
    border-radius: 5px;
}

.modal-heading h5 {
    color: tomato;
    font-weight: 700;
}

.modal-text h2 {
    color: #E76F51;
    font-weight: 500;

}




/* ----------Media Query---------- */

/* Media query for extra small device */
@media only screen and (max-width:575px) {

    /* Common Styles */
    * {
        width: 100%;
    }

    /* Hero Section Styles */
    .hero-container {
        margin: 0;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .hero-details {
        margin: 0;
        margin-top: 46px;
        margin-bottom: 56px;
    }
}

/* Media query for small device */
@media only screen and (min-width:576px) and (max-width:767px) {

    /* Common Styles */
    * {
        width: 100%;
    }
}


/* Media query for medium device */
@media only screen and (min-width:768px) and (max-width:991px) {

    /* Common Styles */
    * {
        width: 100%;
    }
}

/* Media query for large device */
@media only screen and (min-width:992px) and (max-width:1199px) {

    /* Common Styles */
    * {
        width: 100%;
    }
}

/* Media query for extra large device */
@media only screen and (min-width:1200px) and (max-width:1399px) {

    /* Common Styles */
    * {
        width: 100%;
    }
}

/* Media query for extra extra large device */
@media only screen and (min-width:1400px) {

    /* Common Styles */
    * {
        width: 100%;
    }
}